div.titlediv {
top:0px;
left:0px;
position: absolute;
    z-index:1;
height: 40px;
width: 100%;
border: 1px solid grey;
    background-color: #B830AC;
padding: 5px;
}
div.normdiv {
    z-index: 1;
padding:3px;
position: relative;
height: auto;
width: 100%;
border: 1px solid #999966;
background-color: #966A14;
margin: 47px 35% 0px 35%;
text-align: center;
}
.regposts {
display: block;
background-color: #41A741;
width: 100%;
height: auto;
position: relative;
margin: 15px 0px 0px 0px;
}
a {
    font-family: "Arial", Times, serif;
    color: #966A14;
}
p {
    font-family: "Arial", Times, serif;
color: white;
}
.forgot {
    margin: 40px 0 0 0;
}
div.infodiv {
    background-color: #821D0D;
    bottom: 0%;
    width: 100%;
    height: auto;
    position: bottom;
}
div.container {
    margin: 0;
    position: relative;
    display: block;
    
}
div.bodydiv {
    position: relative;
    margin: 20px 0px 0px 0px; 
    display: left;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
body {
    background-color:#821D0D;
}
